# Gallup World Poll Data Cleaning and Codebook Generation

This notebook outlines the process of cleaning the Gallup World Poll dataset and generating a comprehensive codebook. The dataset consists of numerous variables, and the objective is to streamline and clean the data for more straightforward analyses. The code is written in R 4.0.3.

## Load Required Libraries

In [6]:
# Load necessary libraries
# If any library is missing, please install it using install.packages("package_name")
myPackages <- c("dplyr", "tidyr", "glue")
lapply(myPackages, library, character.only = TRUE)
library(sjlabelled, lib.loc = "~/rlib")

[[1]]
 [1] "sjlabelled" "glue"       "tidyr"      "dplyr"      "stats"
 [6] "graphics"   "grDevices"  "utils"      "datasets"   "methods"
[11] "base"

[[2]]
 [1] "sjlabelled" "glue"       "tidyr"      "dplyr"      "stats"
 [6] "graphics"   "grDevices"  "utils"      "datasets"   "methods"
[11] "base"

[[3]]
 [1] "sjlabelled" "glue"       "tidyr"      "dplyr"      "stats"
 [6] "graphics"   "grDevices"  "utils"      "datasets"   "methods"
[11] "base"

## Loading Datasets

In [3]:
# Import the Gallup World Poll dataset
galluprds <- rio::import("~/gallup data/Gallup Raw Data/Gallup_World_Poll_021524.rds")

In [4]:
# We create a copy of the main dataset to perform extended processing without affecting the original data.
gallupExt <- galluprds
dim(gallupExt) #check its dimensions

[1] 2734564    2714

In [5]:
# Load the Gallup Questions dataset and inspect its first few rows
gallupQuestions <- rio::import("GallupQuestions240513.csv")[-3]
glimpse(gallupQuestions)

Rows: 2,706
Columns: 2
$ QTag            <chr> "COUNTRY_ISO2", "COUNTRY_ISO3", "COUNTRYNEW", "DEGURBA…
$ `Question Text` <chr> "Country ISO alpha-2 code", "Country ISO alpha-3 code"…

## For each column in the Gallup dataset, extract labels, values, and other details.

In [7]:
Gallup.responses <- lapply(colnames(gallupExt), 
                       function(var){ 
    labels <- get_labels(gallupExt[, var])
    values <- get_values(gallupExt[, var])
        return(c(QTag = var,
                 "Short Text" = get_label(gallupExt[, var]),
                 "Response Options" = paste(labels, collapse = ", "),
                 "Response Values" = paste(values, collapse = ", ")))
                           }) %>% bind_rows

In [8]:
## Display the number of raws and the last few rows of the Gallup.responses dataframe
nrow(Gallup.responses)
tail(Gallup.responses)

[1] 2714

  QTag          Short Text
1 WP9949        Voting Affects Change
2 WP9950        Know When Presidential Election Held
3 WP9951        Upcoming Election Fair
4 WP9983        Closer Relation With China or India
5 YEAR_CALENDAR Calendar Year
6 YEAR_WAVE     Wave Year
  Response Options
1 Voting is an effective way to affect positive change, Elections dont make much of a difference, (DK), (Refused)
2 Yes, No, (DK), (Refused)
3 Yes, No, (DK), (Refused)
4 India, China, DO NOT READ: (Both), DO NOT READ: (Neither), (DK), (Refused)
5
6
  Response Values
1 1, 2, 3, 4
2 1, 2, 3, 4
3 1, 2, 3, 4
4 1, 2, 3, 4, 5, 6
5
6

## Identifying NA: DK, Refused, NA, No Answer, etc

We define regular expressions (regex) patterns to identify different types of non-answers like 'Do not know (DK)', 'Refused', and various forms of 'Not Available (NA)'.

Note that we may haven't gather all the NA patterns. We may have to modify this code later.

You can also check NAandBinaryResponsesInvestigation.ipynb for some insights.

In [9]:
dk.text <- c("(DK(\\b|\\W))|(((Do\\Wnot)|dont|don\\?t)\\Wknow\\W{0,1}$)")
refused.text <- c("(refuse)|(RF(\\b|\\W))")
na.text <- paste("(\\(does\\Wnot\\Wapply)",
                 "(Not\\WApplicable)",
                 "(^NA$)",
                 "(\\(N\\W{0,1}A\\))",
                 "(No\\Wanswer)", 
                 "(No\\Wresponse)",
                 "(Not\\WAvailable\\W{0,1}$)", sep = "|") 
texttoNA <- paste(dk.text, refused.text, na.text, sep = "|")

In [10]:
# Create a dataframe with the details of questions with non-answer responses
Gallup.NA <- colnames(gallupExt) %>% 
    # Apply a function to each column name.
    lapply(function(var){ 
        # Get the labels(response options) and the values(response values)
        # of the current column
        labels <- get_labels(gallupExt[, var])
        values <- get_values(gallupExt[, var])
        
        # Identify the value corresponding to the non-answers.
        dk.value <- values[grepl(dk.text, labels, ignore.case = T)]
        refused.value <- values[grepl(refused.text, labels, ignore.case = T)]
        na.value <- values[grepl(na.text, labels, ignore.case = T)]
        
        # only return the details when there are non-answers
        if (sum(grepl(texttoNA, labels, ignore.case = T)) > 0 &
            ! var %in% "COUNTRY_ISO2"){
            return(c(QTag = var,
                     "Short Text" = get_label(gallupExt[, var]),
                     "(dk).value" = dk.value,
                     "(refused).value" = refused.value,
                     "(na).value" = na.value,
                     "Response Options" = paste(labels, collapse = ", "),
                     "Response Values" = paste(values, collapse = ", ")))
                               }}) %>% 
    # Combine the results of the 'lapply' function into a single data frame.
    bind_rows %>%
    # rearrange the columns into a more readable format
    select(QTag, `Short Text`, `(dk).value`, `(refused).value`, 
           `(na).value`, `Response Options`, `Response Values`)

In [11]:
#2023 June 20th, WP12 has the option 97: Not Available but not shown in the label of original sav file,
#so we add it here
cat("attributes of WP12\n")
attributes(gallupExt$WP12)

cat("\nvalues existed in the data but without label:")
unique(na.omit(gallupExt$WP12)) %>% .[!. %in% get_values(gallupExt$WP12)]

cat("\nAdd the info into Gallup.NA df")
Gallup.NA[Gallup.NA$QTag %in% "WP12", "(na).value"] <- "97"
Gallup.NA[Gallup.NA$QTag %in% "WP12",]

attributes of WP12

$label
[1] "Residents 15+ in Household"

$format.spss
[1] "F8.0"

$labels

        1         2         3         4         5         6         7         8

        9        10        11        12        13        14        15        16

       17        18        19        20        21        22        23        24

       25        26        27        28        29        30        31        32

       33        34        35        36        37        38        39        40

       41        42        43        44        45        46        47        48

       49        50        51        52        53        54        55        56

       57        58        59        60        61        62        63        64

       65        66        67        68        69        70        71        72

       73        74        75        76        77        78        79        80

       81        82        83        84        85        86        87        88
                                                                            96+
       89        90        91        92        93        94        95        96
     (DK) (Refused)
       98        99

values existed in the data but without label:

[1]  0 97

Add the info into Gallup.NA df

  QTag Short Text                 (dk).value (refused).value (na).value
1 WP12 Residents 15+ in Household 98         99              97
  Response Options
1 , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , 96+, (DK), (Refused)
  Response Values
1 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99

In [12]:
#2023 Nov 10th, I realized some REGION_XXX did not list out all the NA related label
gallupReg <- gallupExt %>% select(starts_with("REGION_"))

# Loop through each column
# the values printed with "*" are missing their labels
for (var in names(gallupReg)) {
    # Check if the column has 'labels' attribute
    if (!is.null(attr(gallupReg[, var], "labels"))) {
        # Create a mapping from labels
        labels <- get_labels(gallupReg[, var])
        values <- get_values(gallupReg[, var])

        # Find those values missing the label
        values_unique <- unique(na.omit(gallupReg[, var])) %>% .[order(.)]
        if(sum(!values_unique %in% values) > 0){
            values_print <- paste(values, labels)
            values_print[!values %in% values_unique] <- paste0("\n\t", values_print[!values %in% values_unique], " *no occurrence in the data")
            values_print <- c(values_print, paste0("\n\t", "(", values_unique[!values_unique %in% values], ") *missing label"))
            cat(paste0(var, ":\n\t", paste0(values_print, collapse = ", "), "\n --------------- \n"))
        }
    }
}

REGION_MLT:
	1 Southern Harbour District, 2 Northern Harbour District, 3 South Eastern District, 4 Western District, 5 North District, 6 Gozo and Comino,
	(99) *missing label
 ---------------
REGION_NCY:
	1 Famagusta, 2 Iskele, 3 Kyrenia, 4 Morfou, 5 Nicosia,
	8 (DK) *no occurrence in the data,
	9 (Refused) *no occurrence in the data,
	(99) *missing label
 ---------------
REGION_OMN:
	1 Ad Dakhiliyah, 2 Ad Dhahirah, 3 Al Batinah,
	4 Al Buraymi *no occurrence in the data, 5 Al Wusta, 6 Ash Sharqiyah, 7 Dhofar, 8 Musandam, 9 Muscat,
	(98) *missing label,
	(99) *missing label
 ---------------

In [13]:
#so I'm including them here
varsWithIssue <- c("REGION_MLT", "REGION_NCY", "REGION_OMN")
varsWithIssue_notIn <- varsWithIssue[!varsWithIssue %in% Gallup.NA$QTag] # the variables that not yet in the Gallup.NA
Gallup.NA <- Gallup.NA %>% bind_rows(Gallup.responses[Gallup.responses$QTag %in% varsWithIssue_notIn,])

Gallup.NA[Gallup.NA$QTag %in% "REGION_MLT", "(refused).value"] <- "99"
Gallup.NA[Gallup.NA$QTag %in% "REGION_NCY", "(refused).value"] <- "99"
Gallup.NA[Gallup.NA$QTag %in% "REGION_OMN", "(dk).value"] <- "98"
Gallup.NA[Gallup.NA$QTag %in% "REGION_OMN", "(refused).value"] <- "99"

#review the result
Gallup.NA[Gallup.NA$QTag %in% varsWithIssue,]

  QTag       Short Text          (dk).value (refused).value (na).value
1 REGION_NCY Region North Cyprus 8          99              NA
2 REGION_MLT Region Malta        NA         99              NA
3 REGION_OMN Region Oman         98         99              NA
  Response Options
1 Famagusta, Iskele, Kyrenia, Morfou, Nicosia, (DK), (Refused)
2 Southern Harbour District, Northern Harbour District, South Eastern District, Western District, North District, Gozo and Comino
3 Ad Dakhiliyah, Ad Dhahirah, Al Batinah, Al Buraymi, Al Wusta, Ash Sharqiyah, Dhofar, Musandam, Muscat
  Response Values
1 1, 2, 3, 4, 5, 8, 9
2 1, 2, 3, 4, 5, 6
3 1, 2, 3, 4, 5, 6, 7, 8, 9

## Identify questions with a non-zero "None" response

We investigate questions that have the option 'None' with non-zero values. While these are not necessarily considered as NA, it's essential to be cautious when interpreting them.

In [14]:
none.text <-c("(\\W|\\b)none(\\W|\\b)")
# Create a dataframe with the details of questions with non-zero "None" responses
Gallup.none <- lapply(colnames(gallupExt), 
    # Apply a function to each column name.
                       function(var){
    # Get the labels(response options) and the values(response values)
    # of the current column
    values <- get_values(gallupExt[, var])                       
    labels <- get_labels(gallupExt[, var])
                           
    # Identify all the values corresponding to "none".                       
    none.values <- values[grepl(none.text, labels, ignore.case = T)]
    # Identify the values corresponding to non-zero "none" and the exact text                     
    none.value <- none.values[none.values != 0]  
    none.label <- labels[values %in% none.value]
    
    # only return the details when there are non-zero "none"                      
    if (length(none.value) > 0){
        return(c(QTag = var,
                 "Short Text" = get_label(gallupExt[, var]),
                 "non-zero.none.value" = paste(none.value, collapse = ", "),
                 "Response Options" = paste(labels, collapse = ", "),
                 "Response Values" = paste(get_values(gallupExt[, var]), collapse = ", ")))
                           }}) %>% bind_rows 
nrow(Gallup.none)

[1] 78

## Identifying Questions with Binary Responses (1 and 2)

We aim to identify questions that have only two valid responses, sometimes represented by 1 for affirmation and 2 for negation. This excludes non-answer like DK/Refused. By pinpointing these questions, we can modify the response options from {1,2} to {1,0} later. This adjustment facilitates clearer interpretation of the data.

In [15]:
# Create a dataframe with the details of questions with binary responses

Gallup.Binary <- lapply(colnames(gallupExt), 
    # Apply a function to each column name.
                       function(var){
    # Get the labels(response options) and the values(response values)
    # of the current column
    labels <- get_labels(gallupExt[, var])
    values <- get_values(gallupExt[, var])
    # Identify all values of non-NA responses                       
    na.values <- Gallup.NA[Gallup.NA$QTag %in% var, c("(dk).value", "(refused).value", "(na).value")] %>% unlist
    nonna.values <- as.numeric(values[!values %in% na.values]) %>% sort
    
    # return the details if 1 and 2 are the only non-NA responses                        
    if (identical(nonna.values, c(1, 2)))
        return(c(QTag = var,
                 "Short Text" = get_label(gallupExt[, var]),
                 "Response Options" = paste(labels, collapse = ", "),
                 "Response Values" = paste(values, collapse = ", ")))
}) %>% bind_rows %>% merge(gallupQuestions, by = "QTag")

nrow(Gallup.Binary)

[1] 1386

## Generating the Codebook

The codebook provides a comprehensive reference for all the questions in the dataset, including their response types and specific labels.

In [16]:
column.order <- c("Binary Responses = {1,2}", "QTag", "Short Text", 
                  "Question Text", 
                  "(dk).value", "(refused).value", 
                  "(na).value", "non-zero.none.value",
                  "Response Options", "Response Values")

Gallup.CodeBook <- Gallup.responses %>%
    merge(gallupQuestions, by = "QTag", all = T) %>% 
    merge(Gallup.NA %>% select(QTag, `(dk).value`, `(refused).value`, `(na).value`), by = "QTag", all = T) %>%
    merge(Gallup.none %>% select(QTag, `non-zero.none.value`),  by = "QTag", all = T) %>%
    mutate(`Binary Responses = {1,2}` = (QTag %in% Gallup.Binary$QTag))

Gallup.CodeBook <- Gallup.CodeBook[, column.order]

nrow(Gallup.CodeBook)

[1] 2717

In [17]:
Gallup.CodeBook %>% 
    group_by(`Response Values`, `Binary Responses = {1,2}`) %>% 
    {merge(slice(., 1), summarize(., `n of QTag with the corresponding Response Values` = n()))} %>% 
    arrange(nchar(`Response Values`)) %>% 
    filter(`n of QTag with the corresponding Response Values` >= 10)

`summarise()` has grouped output by 'Response Values'. You can override using the `.groups` argument.

   Binary Responses = {1,2}
1  FALSE
2   TRUE
3  FALSE
4  FALSE
5   TRUE
6   TRUE
7  FALSE
8  FALSE
9   TRUE
10 FALSE
11 FALSE
12 FALSE
13 FALSE
14 FALSE
15 FALSE
16 FALSE
17 FALSE
18 FALSE
19 FALSE
20 FALSE
21 FALSE
22 FALSE
23 FALSE
24 FALSE
25 FALSE
26 FALSE
27 FALSE
   Response Values
1
2  1, 2
3  1, 2, 3
4  1, 2, 3, 4
5  1, 2, 3, 4
6  1, 2, 8, 9
7  1, 2, 3, 4, 5
8  1, 2, 3, 8, 9
9  1, 2, 3, 4, 5
10 1, 2, 3, 98, 99
11 1, 2, 3, 4, 5, 6
12 1, 2, 3, 4, 8, 9
13 1, 2, 3, 4, 5, 6, 7
14 1, 2, 3, 4, 5, 8, 9
15 1, 2, 3, 4, 7, 8, 9
16 1, 2, 3, 4, 5, 98, 99
17 1, 2, 3, 4, 5, 6, 7, 8
18 1, 2, 3, 4, 5, 6, 98, 99
19 1, 2, 3, 4, 5, 6, 7, 8, 9
20 1, 2, 3, 4, 5, 6, 7, 98, 99
21 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
22 1, 2, 3, 4, 5, 6, 7, 8, 98, 99
23 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11
24 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 98, 99
25 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 98, 99
26 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 98, 99
27 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 900, 901, 902, 903, 907, 997, 998, 999
   QTag         Short Text
1  COUNTRY_ISO2 Country ISO alpha-2 code
2  REGION2_NZL  Region 2 New Zealand
3  INCOME_7     Reported Versus Imputed Values
4  REGION2_ARM  Region 2 Armenia
5  M1           Not Enough Money: Healthcare
6  WP10120      Consider Self IDP
7  INCOME_5     Per Capita Income Quintiles
8  REGION_HKG   Region Hong Kong
9  WP10633      Receiving Pension
10 REGION2_ALB  Region 2 Albania
11 EMP_2010     Employment Status
12 M30          Current Economic Conditions
13 REGION1_NPL  Region1 Nepal
14 REGION_BHR   Region Bahrain
15 WP10005      Reason Started Smoking
16 REGION2_BRA  Region 2 Brazil
17 REGION2_GMB  Region 2 Gambia
18 REGION2_ARG  Region 2 Argentina
19 REGION2_KOS  Region 2 Kosovo
20 REGION2_HND  REGION 2 Honduras
21 REGION3_AZE  Region 3 Azerbaijan
22 REGION2_CZE  Region 2 Czech Republic
23 REGION_ARM   Region Armenia
24 REGION2_ZMB  Region 2 Zambia
25 WP10658      Muslim/Christian Relations in Nigeria
26 REGION2_BEN  Region 2 Benin
27 WP10253      Country Moving To
   Question Text
1  Country ISO alpha-2 code
2  Region 2 New Zealand
3  Reported versus imputed values
4  Region 2 Armenia
5  Have there been times in the past 12 months when you did not have enough money to pay for healthcare and/or medicines that you or your family needed?
6  Do you consider yourself to be an IDP (internally displaced person)? (asked only of those who have moved)
7  Per Capita income quintiles
8  Region Hong Kong
9  Are you receiving a pension or some form of financial remuneration for work you did while you were employed? (asked only of those who are age 61 or older)
10 Region 2 Albania
11 Respondents fall into one of six categories of employment based on a combination of answers to a series of questions about employment.
12 How would you rate economic conditions in this country today -- as excellent, good, only fair, or poor?
13 Region1 Nepal
14 Region Bahrain
15 What is the main reason you started smoking? (asked only of those who smoke)
16 Region 2 Brazil
17 Region 2 Gambia
18 Region 2 Argentina
19 Region 2 Kosovo
20 REGION 2 Honduras
21 Region 3 Azerbaijan
22 Region 2 Czech Republic
23 Region Armenia
24 Region 2 Zambia
25 On a scale of 0 to 10, where 0 is a very bad feeling and 10 is a very good feeling, how would you rate the feeling between Muslims and Christians today in Nigeria?
26 Region 2 Benin
27 To which country are you planning to move in the next 12 months? (asked only of those who are planning to move to another country in the next 12 months)
   (dk).value (refused).value (na).value non-zero.none.value
1  NA         NA              NA         NA
2  NA         NA              NA         NA
3  NA         NA              NA         NA
4  NA         NA              NA         NA
5  3          4               NA         NA
6  8          9               NA         NA
7  NA         NA              NA         NA
8  8          9               NA         NA
9  3          4               5          NA
10 98         99              NA         NA
11 NA         NA              NA         NA
12 8          9               NA         NA
13 NA         NA              NA         NA
14 8          9               NA         NA
15 8          9               NA         NA
16 98         99              NA         NA
17 NA         NA              NA         NA
18 98         99              NA         NA
19 NA         NA              NA         NA
20 98         99              NA         NA
21 NA         NA              NA         NA
22 98         99              NA         NA
23 NA         NA              NA         NA
24 98         99              NA         NA
25 98         99              NA         NA
26 98         99              NA         NA
27 998        999             NA         907, 997
   Response Options
1  US, EG, LB, SA, JO, TR, PK, ID, BD, GB, FR, DE, NL, BE, ES, IT, PL, HU, CZ, RO, SE, GR, DK, IR, HK, SG, JP, CN, IN, VE, BR, MX, NG, KE, TZ, IL, PS, GH, UG, BJ, MG, MW, ZA, CA, AU, PH, LK, VN, TH, KH, LA, NZ, BW, ML, MZ, NE, RW, SN, ZM, KR, TW, BY, GE, KZ, KG, MD, RU, UA, BF, CM, SL, ZW, CR, AL, AR, AM, AT, AZ, BO, BA, BG, TD, CL, CO, HR, CU, CY, DO, EC, SV, EE, FI, GT, HT, HN, IE, JM, KW, LV, LT, MK, MY, ME, NP, NI, NO, PA, PY, PE, PT, PR, RS, SK, SI, CH, TJ, TG, TT, AE, UY, UZ, YE, XK, MR, BZ, CF, GY, LR, MN, NA, SY, AF, BI, CG, DJ, IS, IQ, LU, MT, QA, CD, CI, TM, BH, KM, SD, XS, TN, MA, DZ, AO, GA, GN, LS, MU, SZ, OM, MM, ET, LY, SR, XC, BT, XN, SO, SS, GM, MV
2  North Island, South Island
3  Exact reported value, Imputed from categorical response, Imputed without categorical response
4  Capital, Central Armenia, North Armenia, South Armenia
5  Yes, No, (DK), (Refused)
6  Yes, No, (DK), (Refused)
7  Poorest 20%, Second 20%, Middle 20%, Fourth 20%, Richest 20%
8  Hong Kong Island, Kowloon, New Territories, (DK), (Refused)
9  Yes, No, (DK), (Refused), (Not Applicable)
10 North Albania, Central Albania, South Albania, (DK), (Refused)
11 Employed full time for an employer, Employed full time for self, Employed part time do not want full time, Unemployed, Employed part time want full time, Out of workforce
12 Poor, Only fair, Good, Excellent, (DK), (Refused)
13 Koshi, Madhesh, Bagmati, Gandaki, Lumbini, Karnali, Sudurpashchim
14 Capital, Muharraq, Northern, Central, South, (DK), (Refused)
15 To relieve stress, Peer pressure, To lose weight, To be cool, Other (specify) ______________________________________________, (DK), (Refused)
16 South (SU), Southeast (SE), Central-West (CO), North (NO), Northeast (NE), (DK), (Refused)
17 Banjul, Kanifing, Brikama, Janjanbureh, Kuntaur, Mansakonko, Kerewan, Basse
18 Metropolitana, Pampeana, Cuyo, N.O.A. (Noroeste Argentino), N.E.A. (Noreste Argentino), Patagonia, (DK), (Refused)
19 Prishtina region, Mitrovica region, Gjilan region, Gjakove region, Prizren region, Peja region, Ferizaj region, North Kosovo, Other (Serb-majority municipalities)
20 South (Sur), North-East (Nor Oriente), Central - West (Centro Occidental), Central - East (Centro Oriental), North (Norte), West, Atlantic Coast (Litoral Atlantico), (DK), (Refused)
21 Baku, Absheron, Aran, Gandja-Gazakh, Guba-Khachmaz, Lankaran, Mountainous Shirvan, Sheki-Zagatala, Yukhari-Karabakh, Kalbajar-Lachin
22 Prague, Central Bohemia, Southwest, Northwest, Northeast, Southeast, Central Moravia, Moravskoslezsko, (DK), (Refused)
23 Yerevan, Aragatsotn, Ararat, Armavir, Gegharkunik, Lori, Kotayk, Shirak, Syunik, Vayots Dzor, Tavush
24 Central, Copper Belt, Eastern, Lua pula, Lusaka, Northern, North Western, Southern, Western, Muchinga, (DK), (Refused)
25 Very bad feeling, , , , , , , , , , Very good feeling, (DK), (Refused)
26 ALIBORI, ATAKORA, ATLANTIQUE, BORGOU, COLLINES, COUFFO, DONGA, LITTORAL, MONO, OUEME, PLATEAUX, ZOU, (DK), (Refused)
27 Search code list, United States, Egypt, Morocco, Lebanon, Saudi Arabia, Jordan, Syria, Turkey, Pakistan, Indonesia, Bangladesh, United Kingdom, France, Germany, Netherlands, Belgium, Spain, Italy, Poland, Hungary, Czech Republic, Romania, Sweden, Greece, Denmark, Iran, Hong Kong, Singapore, Japan, China, India, Venezuela, Brazil, Mexico, Nigeria, Kenya, Tanzania, Israel, Palestinian Territories, Ghana, Uganda, Benin, Madagascar, Malawi, South Africa, Canada, Australia, Philippines, Sri Lanka, Vietnam, Thailand, Cambodia, Laos, Myanmar, New Zealand, Angola, Botswana, HOLD, HOLD, Ethiopia, Mali, Mauritania, Mozambique, Niger, Rwanda, Senegal, Zambia, South Korea, Taiwan, Afghanistan, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Moldova, Russia, Ukraine, Burkina Faso, Cameroon, Sierra Leone, Zimbabwe, Costa Rica, Albania, Algeria, Andorra, Antigua & Barbuda, Argentina, Armenia, Austria, Azerbaijan, Bahamas, Bahrain, Barbados, Belize, Bhutan, Bolivia, Bosnia and Herzegovina, Brunei, Bulgaria, Burundi, Cape Verde, Central African Republic, Chad, Chile, Colombia, Comoros, Congo (Kinshasa), Congo Brazzaville, Croatia, Cuba, Cyprus, Djibouti, Dominica, Dominican Republic, Ecuador, El Salvador, Equatorial Guinea, Eritrea, Estonia, Fiji, Finland, Gabon, Grenada, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Honduras, Iceland, Iraq, Ireland, Island Nations (11), Ivory Coast, Jamaica, Kiribati, Kuwait, Latvia, Lesotho, Liberia, Libya, Lichtenstein, Lithuania, Luxembourg, North Macedonia, Malaysia, Maldives, Malta, Marshall Islands, Mauritius, Micronesia, Monaco, Mongolia, Montenegro, Namibia, Nauru, Nepal, Nicaragua, North Korea, Norway, Oman, Palau, Panama, Paraguay, Peru, Portugal, Puerto Rico, Qatar, Saint Lucia, Samoa, San Marino, Sao Tome & Principe, Serbia, Seychelles, Slovakia, Slovenia, Solomon Islands, Somalia, St. Kitts & Nevis, St. Vincent & Grenadines, Sudan, Suriname, Eswatini, Switzerland, Tajikistan, The Gambia, Togo, Tonga, Trinidad & Tobago, Tunisia, Turkmenistan, Tuvalu, United Arab Emirates, Uruguay, Uzbekistan, Vanuatu, Yemen, Kosovo, Somaliland region, US Hispanic, Timor Leste, Northern Cyprus, Nagorno-Karabakh Region, Papua New Guinea, South Sudan, Macau, Reunion Island, African Country, Arab Country, Other Islamic Country, Other Country, None, (None), (DK), (Refused)
   n of QTag with the corresponding Response Values
1    46
2    24
3    27
4    25
5  1250
6    56
7   313
8    36
9    23
10   13
11  102
12   36
13  119
14   64
15   15
16   16
17   36
18   15
19   33
20   10
21   10
22   12
23   10
24   10
25   11
26   10
27   27

In [19]:
write.csv(Gallup.CodeBook, "GallupWorldPollCodebook_GWP021524.csv", row.names = F)

## Data Cleaning Using the Codebook

Utilizing the codebook, this section cleans the Gallup dataset by processing specific response types and adjusting binary responses.

- Convert certain responses to NA
- Convert binary questions from {1,2} to {1,0}
- Update attributes of each variable to include the question text
- Save the cleaned dataset as an RDS file

In [20]:
#Create a function for changing the "DK" / "Refused" response to NA.
na_codes <- function(x, ...) {
    for(y in list(...))
        x[x == y] <- NA
    x
}

In [21]:
gallupCleaned <- gallupExt
gallupRef <- Gallup.CodeBook

for(x in colnames(gallupCleaned)){
    #converting responses to NA
    gallupCleaned[[x]] <- na_codes(gallupCleaned[[x]], 
                                 gallupRef[gallupRef$QTag %in% x, "(dk).value"],
                                 gallupRef[gallupRef$QTag %in% x, "(refused).value"],
                                 gallupRef[gallupRef$QTag %in% x, "(na).value"])
    
    #coverting responses of binary questions from {1,2} to {1,0}
    if(gallupRef[gallupRef$QTag %in% x, "Binary Responses = {1,2}"]){
        gallupCleaned[[x]] <- 2 - gallupCleaned[[x]]
    }
}

#editing the attributes of each variables to contain the text of the questions
for(x in colnames(gallupCleaned)){
   if(! class(gallupCleaned[[x]]) %in% "Date"){
        attributes(gallupCleaned[[x]]) <- NULL
    }
    attr(gallupCleaned[[x]], "Short Text") <- gallupRef[gallupRef$QTag %in% x, "Short Text"]
    attr(gallupCleaned[[x]], "Question Text") <- gallupRef[gallupRef$QTag %in% x, "Question Text"]
}

In [22]:
codebook <- lapply(colnames(gallupCleaned), function(x){
    uniqueValues <- if (!all(is.na(gallupRef[gallupRef$QTag %in% x, c("(dk).value", "(refused).value", "(na).value")])) |
                        (gallupRef[gallupRef$QTag %in% x, "Binary Responses = {1,2}"]))
        paste(sort(unique(gallupCleaned[[x]])), collapse = ", ")
                    else ""
    return(data.frame(QTag = x, ValuesAfterCleaning = uniqueValues))
}) %>% bind_rows %>% 
    merge(gallupRef, by = "QTag", all.x = T) %>% 
    relocate(ValuesAfterCleaning, .after = last_col())

colnames(codebook)[colnames(codebook) %in% c("Response Options", "Response Values")] <- c("OptionsOriginal", "ValuesOriginal")

## Saving the Cleaned Data and the Codebook with response values after cleaning

After all the processing and cleaning steps, the final cleaned dataset is saved as an RDS file for future use and analyses.

For the codebook, if it is empty in "ValuesAfterCleaning", that means nothing have changed for that variable.

In [23]:
saveRDS(gallupCleaned, "GWP_021524_FullyCleaned.rds")

In [24]:
write.csv(codebook, "Codebook_GWP_021524_FullyCleaned.csv", row.names = F)